# /node_modules/* in the project root is ignored by default
/node_modules/*

# build artefacts
dist/*
build/*
coverage/*

# ignore all ts files as we do not use typescript
**/*.ts

# client is client side javascript project (has its own eslint)
client/*

